* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none !important;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.05rem;
}

li {
  font-size: 1.05rem;
}

.container {
  max-width: 1400px;
  margin: auto;
}

/* Header inicio */
header {
  background-color: #D9D9D9;
  padding: 10px;
  z-index: 2;
}

.navbar a {
  color: cadetblue !important;
  font-weight: bold;
}

.navbar-toggler {
  background-color: #5f9ea0;
}

/* Header fin */
/* Banner inicio */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(multimedia/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
#hero h1 {
  color: white;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#hero a {
  font-size: 1.4rem;
  margin-top: 20px;
  color: white;
  background-color: cadetblue;
  border: 2px solid rgb(48, 79, 80);
  border-radius: 7px;
  padding: 7px;
  transition: all 2.7s;
}
#hero a:hover {
  font-size: 1.45rem;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Banner fin */
/* Quienes Somos inicio */
#somos {
  background-color: #F2F2F2;
}
#somos .container {
  text-align: center;
  padding: 200px 100px;
}
#somos h2 {
  color: cadetblue;
  font-weight: bold;
  margin-bottom: 20px;
}
#somos p {
  font-weight: bold;
}

/* Quienes somos fin */
/* Nuestros trabajos inicio */
#nuestrosTrabajos {
  background-color: #D9D9D9;
}
#nuestrosTrabajos .container {
  text-align: center;
  padding: 150px 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto auto auto auto;
  grid-template-areas: "titulo " "manuales" "pegadora" "troquelados";
  grid-gap: 20px;
}
#nuestrosTrabajos h2 {
  color: cadetblue;
}
#nuestrosTrabajos p {
  color: white;
  padding: 10px;
  display: none;
}
#nuestrosTrabajos a {
  background-color: cadetblue;
  border: 1px solid rgb(48, 79, 80);
  border-radius: 7px;
  padding: 7px;
}
#nuestrosTrabajos .titulo {
  grid-area: titulo;
}
#nuestrosTrabajos .cards {
  padding: 50px;
  margin: 10px;
  border-radius: 10px;
}
#nuestrosTrabajos .cards:hover {
  transform: scale(1.05);
}
#nuestrosTrabajos .cards1 {
  height: auto;
  grid-area: manuales;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(multimedia/trabajomanual.jpg);
  background-position: center;
  background-size: cover;
}
#nuestrosTrabajos .cards2 {
  height: auto;
  grid-area: pegadora;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(multimedia/trabajomanual.jpg);
  background-position: center;
  background-size: cover;
}
#nuestrosTrabajos .cards3 {
  height: auto;
  grid-area: troquelados;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(multimedia/trabajomanual.jpg);
  background-position: center;
  background-size: cover;
}

/* Nuestros trabajos fin */
/* Portfolio inicio */
#nuestrosTrabajosPortfolio {
  background-image: url(multimedia/low-poly-grid-haikei.svg);
  background-position: center;
  background-size: cover;
}
#nuestrosTrabajosPortfolio .container {
  height: auto;
}
#nuestrosTrabajosPortfolio h2 {
  color: #F2F2F2;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 5px black;
  padding-top: 30px;
  padding-bottom: 20px;
}
#nuestrosTrabajosPortfolio p {
  color: #F2F2F2;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 5px black;
  padding-bottom: 10px;
}

.carousel {
  padding-bottom: 40px;
  align-items: center;
}

.carousel-inner {
  width: 90%;
  margin: 0 auto;
}

.carousel-inner .carousel-item img {
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Portfolio fin */
/* Ubicacion inicio */
#ubicacion {
  background-image: url(multimedia/low-poly-grid-haikei.svg);
  background-position: center;
  background-size: cover;
}
#ubicacion .container {
  height: auto;
  padding: 218px 0px;
  text-align: center;
}
#ubicacion h2 {
  font-weight: bold;
  color: #F2F2F2;
  padding-bottom: 20px;
  text-shadow: 0 0 5px black;
}
#ubicacion p {
  font-weight: bold;
  font-size: 20px;
  color: #F2F2F2;
  padding-bottom: 40px;
  text-shadow: 0 0 5px black;
}

.mapa {
  height: 300px;
  width: 300px;
}

/* Ubicacion fin */
/* Contacto inicio */
#contacto {
  background-image: url(multimedia/low-poly-grid-haikei.svg);
  background-position: center;
  background-size: cover;
}
#contacto .container {
  padding: 150px 0px;
  display: flex;
  justify-content: center;
}
#contacto .formulario {
  width: 400px;
  padding: 30px;
  border: 2px solid cadetblue;
  background-color: #F2F2F2;
  box-shadow: 7px 13px 37px #000;
}
#contacto h2 {
  padding-bottom: 10px;
}
#contacto .form-controls {
  width: 100%;
  background-color: #D9D9D9;
  padding: 7px;
  border-radius: 4px;
  margin-bottom: 5px;
  border: 1px solid cadetblue;
}
#contacto ::-moz-placeholder {
  color: rgb(60, 100, 100);
}
#contacto :-ms-input-placeholder {
  color: rgb(60, 100, 100);
}
#contacto ::placeholder {
  color: rgb(60, 100, 100);
}

/* Contacto fin */
/* Footer inicio */
footer {
  background-color: #404040;
  background-image: linear-gradient(0deg, #404040 0%, #d9d9d9 50%, #f2f2f2 100%);
}
footer .container {
  text-align: center;
}
footer p {
  padding-top: 10px;
}
footer a {
  color: cadetblue;
  font-size: 45px;
}
footer a:hover {
  color: rgb(60, 100, 100);
}

/* Footer fin */
.subir {
  display: none;
}

.maps--cursive {
  font-size: 25px;
  color: red;
  font-family: cursive;
  text-shadow: 0 0 5px #000;
}

.maps--fantasy {
  font-size: 25px;
  color: yellow;
  font-family: fantasy;
  text-shadow: 0 0 5px #000;
}

.maps--serif {
  font-size: 25px;
  color: blue;
  font-family: serif;
  text-shadow: 0 0 5px #000;
}

.extend, .extend--nuevo {
  letter-spacing: 3px;
  color: #404040;
  font-size: 18px;
}

.extend--nuevo {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px #000;
}

.mixinbox {
  text-align: center;
  padding: 200px 100px;
}

/* Desktop inicio */
@media only screen and (min-width: 979px) {
  html {
    scroll-behavior: smooth;
  }
  header {
    position: fixed;
    width: 100%;
  }
  header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #404040 !important;
  }
  #nuestrosTrabajos p {
    display: block;
  }
  #nuestrosTrabajosPortfolio .container {
    height: 905px;
  }
  #nuestrosTrabajosPortfolio h2 {
    padding: 150px 0 20px 0;
    text-align: center;
    font-weight: bold;
    color: #F2F2F2;
    text-shadow: 0 0 5px black;
  }
  #nuestrosTrabajosPortfolio p {
    color: #F2F2F2;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    font-size: 20px;
    padding-bottom: 30px;
  }
  .carousel {
    padding: 0;
  }
  #ubicacion .mapa {
    height: 500px;
    width: 500px;
  }
  #contacto .container {
    display: flex;
  }
  #contacto .img-container {
    background-image: url(multimedia/contactosvg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
    height: 780px;
    width: 500px;
    margin-right: 150px;
  }
  /* Boton subir inicio */
  .subir {
    display: block;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 50px;
    border: 2px solid cadetblue;
    position: fixed;
    bottom: 10px;
    right: 5px;
    border-radius: 50%;
    font-size: 25px;
    color: black;
    text-shadow: 0 0 5px white;
    transition: all 1s;
  }
  .subir:hover {
    background-color: rgb(60, 100, 100);
    color: black;
  }
  /* Boton subir fin */
  .maps--cursive {
    font-size: 25px;
    color: red;
    font-family: cursive;
    text-shadow: 0 0 5px #000;
  }
  .maps--fantasy {
    font-size: 25px;
    color: yellow;
    font-family: fantasy;
    text-shadow: 0 0 5px #000;
  }
  .maps--serif {
    font-size: 25px;
    color: blue;
    font-family: serif;
    text-shadow: 0 0 5px #000;
  }
  .extend, .extend--nuevo {
    letter-spacing: 3px;
    color: #404040;
    font-size: 18px;
  }
  .extend--nuevo {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #000;
  }
  .mixinbox {
    text-align: center;
    padding: 200px 100px;
  }
}
/* Desktop fin *//*# sourceMappingURL=estilos.css.map */